In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
#Парсинг даты
parsed_release_date = pd.DataFrame(data.release_date.str.split('\/').tolist())
parsed_release_date.columns = ['month', 'day', 'year']
data.release_date = pd.to_datetime(parsed_release_date)

#Делаю универсальное название для Warner Bros, правда из-за этого получил единственную ошибку
data.production_companies = data.production_companies.apply(
    lambda x: str(x).replace('Warner Bros. Pictures', 'Warner Bros.'))
#Расчет прибыли
data.loc[:, 'profit'] = data['revenue'] - data['budget']

answer_ls = [
]  # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [5]:
display(data.sort_values(by='budget', ascending=False).head(10))
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
491,tt1032751,0.250540,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,2010-12-02,74,6.4,2010,-413912431
724,tt1298650,4.955130,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,3180,6.3,2011,641683000
1670,tt0449088,4.965391,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,2007-05-19,2626,6.8,2007,661000000
14,tt2395427,5.944927,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,2015-04-22,4304,7.4,2015,1125035767
1015,tt0401729,1.588457,260000000,284139100,John Carter,Taylor Kitsch|Lynn Collins|Mark Strong|Willem ...,Andrew Stanton,Lost in Our World. Found in Another.,Civil War vet John Carter is transplanted to M...,132,Action|Adventure|Fantasy|Science Fiction,Walt Disney Pictures,2012-03-07,1479,6.0,2012,24139100
380,tt0398286,2.865684,260000000,591794936,Tangled,Zachary Levi|Mandy Moore|Donna Murphy|Ron Perl...,Nathan Greno|Byron Howard,They're taking adventure to new lengths.,When the kingdom's most wanted-and most charmi...,100,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2010-11-24,2019,7.3,2010,331794936
1677,tt0413300,2.520912,258000000,890871626,Spider-Man 3,Tobey Maguire|Kirsten Dunst|James Franco|Thoma...,Sam Raimi,The battle within.,The seemingly invincible Spider-Man goes up ag...,139,Fantasy|Action|Adventure,Columbia Pictures|Laura Ziskin Productions|Mar...,2007-05-01,2083,5.8,2007,632871626
1246,tt1210819,1.214510,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,1607,6.0,2013,-165710090
123,tt2310332,10.174599,250000000,955119788,The Hobbit: The Battle of the Five Armies,Martin Freeman|Ian McKellen|Richard Armitage|K...,Peter Jackson,Witness the defining chapter of the Middle-Ear...,Immediately after the events of The Desolation...,144,Adventure|Fantasy,WingNut Films|New Line Cinema|3Foot7|Metro-Gol...,2014-12-10,3110,7.1,2014,705119788
1187,tt1170358,4.310786,250000000,958400000,The Hobbit: The Desolation of Smaug,Martin Freeman|Ian McKellen|Richard Armitage|K...,Peter Jackson,Beyond darkness... beyond desolation... lies t...,"The Dwarves, Bilbo and Gandalf have successful...",161,Adventure|Fantasy,WingNut Films|New Line Cinema|Metro-Goldwyn-Ma...,2013-12-11,2952,7.6,2013,708400000

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [6]:
display(data.sort_values(by='runtime', ascending=False).head(10))
answer_ls.append(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,23,5.8,2003,-43076064
1082,tt0167260,7.122455,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,5636,7.9,2003,1024888979
1737,tt0462322,0.906938,67000000,25037897,Grindhouse,Kurt Russell|ZoÃ« Bell|Rosario Dawson|Vanessa ...,Robert Rodriguez|Eli Roth|Quentin Tarantino|Ed...,A double feature that'll tear you in two!,Two full length feature horror movies written ...,191,Thriller|Action|Horror,Big Talk Productions|Yer Dead Productions|Wein...,2007-04-06,197,6.5,2007,-41962103
1337,tt0360717,1.508329,207000000,550000000,King Kong,Naomi Watts|Jack Black|Adrien Brody|Thomas Kre...,Peter Jackson,The eighth wonder of the world.,"In 1933 New York, an overly ambitious movie pr...",187,Adventure|Drama|Action,WingNut Films|Universal Pictures|Big Primate P...,2005-12-14,1289,6.4,2005,343000000
505,tt0213149,2.478879,140000000,449220945,Pearl Harbor,Ben Affleck|Josh Hartnett|Kate Beckinsale|Cuba...,Michael Bay,"December 7, 1941 - A day that shall live in in...",The lifelong friendship between Rafe McCawley ...,183,History|Romance|War,Jerry Bruckheimer Films|Touchstone Pictures,2001-05-21,1044,6.6,2001,309220945
1184,tt0993846,4.877927,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,2013-12-25,4027,7.9,2013,292000694
864,tt0167261,8.095275,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,2002-12-18,5114,7.8,2002,847287400
497,tt0120737,8.575419,93000000,871368364,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,One ring to rule them all,"Young hobbit Frodo Baggins, after inheriting a...",178,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,2001-12-18,6079,7.8,2001,778368364
1602,tt0346491,1.319068,155000000,167298192,Alexander,Colin Farrell|Angelina Jolie|Val Kilmer|Jared ...,Oliver Stone,The greatest legend of all was real.,"Alexander, the King of Macedonia, leads his le...",175,War|History|Action|Adventure|Drama,France 3 CinÃ©ma|Intermedia Films|PathÃ© Renn ...,2004-11-21,519,5.6,2004,12298192
994,tt1371111,2.478372,102000000,130482868,Cloud Atlas,Tom Hanks|Halle Berry|Jim Broadbent|Hugo Weavi...,Lilly Wachowski|Lana Wachowski|Tom Tykwer,Everything is Connected,A set of six nested stories spanning time betw...,172,Drama|Science Fiction,Anarchos Productions|X-Filme Creative Pool|Asc...,2012-10-26,2162,6.5,2012,28482868

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [7]:
display(data.sort_values(by='runtime', ascending=True).head(10))
answer_ls.append(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,174,6.8,2011,-15540000
931,tt0280030,0.678896,20000000,109862682,Return to Never Land,Harriet Owen|Blayne Weaver|Jeff Bennett|Kath S...,Robin Budd|Donovan Cook,The Classic Continues,The classic tale of 'Peter Pan' continues in D...,72,Adventure|Fantasy|Animation|Family,Walt Disney Pictures|Walt Disney Television An...,2002-02-14,174,6.2,2002,89862682
1098,tt0283426,1.781615,20000000,135680000,The Jungle Book 2,John Goodman|Haley Joel Osment|Mae Whitman|Phi...,Steve Trenbirth,Feel the jungle beat,"Mowgli, missing the jungle and his old friends...",72,Family|Animation|Adventure,Walt Disney Pictures|Walt Disney Television An...,2003-02-07,156,5.6,2003,115680000
1627,tt0299172,0.837906,110000000,103951461,Home on the Range,Randy Quaid|Steve Buscemi|Judi Dench|Cuba Good...,Will Finn|John Sanford,Bust a Moo.,The Little Piece of Heaven family farm is abou...,76,Western|Animation|Family|Comedy|Music,Walt Disney Pictures|Walt Disney Feature Anima...,2004-04-02,210,5.8,2004,-6048539
1409,tt0361089,0.558258,35000000,19478106,Valiant,Ewan McGregor|Ricky Gervais|Tim Curry|Jim Broa...,Gary Chapman,"Some pigeons eat crumbs, others make history.",The animated comedy tells the story of a lowly...,76,Animation|Family|Adventure,Vanguard Films|Scanbox,2005-03-25,138,5.3,2005,-15521894
1349,tt0121164,1.265401,40000000,117195061,Corpse Bride,Johnny Depp|Helena Bonham Carter|Emily Watson|...,Tim Burton|Mike Johnson,There's been a grave misunderstanding.,"Set in a 19th-century european village, this s...",77,Romance|Fantasy|Animation|Music,Tim Burton Animation Company|Will Vinton Studi...,2005-09-09,1022,7.0,2005,77195061
885,tt0243585,1.594587,120000000,169956806,Stuart Little 2,Michael J. Fox|Geena Davis|Hugh Laurie|Jonatha...,Rob Minkoff,A Little Goes A Long Way,"Stuart, an adorable white mouse, still lives h...",78,Family|Adventure|Animation|Comedy,Columbia Pictures|Sony Pictures Entertainment,2002-07-19,366,5.4,2002,49956806
1808,tt0120917,1.768463,100000000,169327687,The Emperor's New Groove,David Spade|John Goodman|Eartha Kitt|Patrick W...,Mark Dindal,It's All About.....ME!,Kuzco is a self-centered emperor who summons P...,78,Adventure|Animation|Comedy|Family|Fantasy,Walt Disney Pictures|Walt Disney Feature Anima...,2000-12-09,832,6.9,2000,69327687
252,tt0472033,2.846465,30000000,48428063,9,Elijah Wood|John C. Reilly|Jennifer Connelly|C...,Shane Acker,When our world ended their mission began.,"When 9 first comes to life, he finds himself i...",79,Action|Adventure|Animation|Science Fiction|Thr...,Focus Films|Starz Animation|Relativity Media|T...,2009-08-19,851,6.5,2009,18428063
1769,tt0452702,0.504782,19000000,35300645,Vacancy,Kate Beckinsale|Luke Wilson|Ethan Embry|Scott ...,NimrÃ³d Antal,Once you've checked in... The terror begins.,A young married couple becomes stranded at an ...,80,Horror|Thriller,Screen Gems|Hal Lieberman Company,2007-04-20,181,5.9,2007,16300645

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [8]:
display(np.round(data.runtime.mean()))
answer_ls.append(2)

110.0

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [9]:
display(np.round(data.runtime.median()))
answer_ls.append(1)

106.0

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [10]:
display(data.sort_values(by='profit', ascending=False).head(10))
answer_ls.append(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,8458,7.1,2009,2544505847
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,5292,7.5,2015,1868178225
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,5562,6.5,2015,1363528810
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,2947,7.3,2015,1316249360
971,tt0848228,7.637767,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,2012-04-25,8903,7.3,2012,1299557910
723,tt1201607,5.711315,125000000,1327817822,Harry Potter and the Deathly Hallows: Part 2,Daniel Radcliffe|Rupert Grint|Emma Watson|Alan...,David Yates,It all ends here.,"Harry, Ron and Hermione continue their quest t...",130,Adventure|Family|Fantasy,Warner Bros.|Heyday Films|Moving Picture Compa...,2011-07-07,3750,7.7,2011,1202817822
14,tt2395427,5.944927,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,2015-04-22,4304,7.4,2015,1125035767
1178,tt2294629,6.112766,150000000,1274219009,Frozen,Kristen Bell|Idina Menzel|Jonathan Groff|Josh ...,Chris Buck|Jennifer Lee,Only the act of true love will thaw a frozen h...,Young princess Anna of Arendelle dreams about ...,102,Animation|Adventure|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2013-11-27,3369,7.5,2013,1124219009
8,tt2293640,7.404165,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,Kyle Balda|Pierre Coffin,"Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,2015-06-17,2893,6.5,2015,1082730962
1082,tt0167260,7.122455,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,5636,7.9,2003,1024888979

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [11]:
display(data.sort_values(by='profit', ascending=True).head(10))
answer_ls.append(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
491,tt1032751,0.250540,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,2010-12-02,74,6.4,2010,-413912431
1246,tt1210819,1.214510,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,1607,6.0,2013,-165710090
1617,tt0318974,0.948560,145000000,25819961,The Alamo,Dennis Quaid|Billy Bob Thornton|Jason Patric|P...,John Lee Hancock,You will never forget,Based on the 1836 standoff between a group of ...,137,Western|History|War,Imagine Entertainment|Touchstone Pictures,2004-04-07,60,5.9,2004,-119180039
810,tt1305591,0.921653,150000000,38992758,Mars Needs Moms,Seth Green|Joan Cusack|Dan Fogler|Breckin Meye...,Simon Wells,Mom needs a little space.,"When Martians suddenly abduct his mom, mischie...",88,Adventure|Animation|Family,Walt Disney Animation Studios,2011-03-09,129,5.5,2011,-111007242
959,tt0180052,0.912373,100000000,7103973,The Adventures of Pluto Nash,Eddie Murphy|Randy Quaid|Rosario Dawson|Joe Pa...,Ron Underwood,Action's future has arrived...,"The year is 2087, the setting is the moon. Edd...",95,Action|Comedy|Science Fiction,Village Roadshow Pictures|Castle Rock Entertai...,2002-08-15,75,4.6,2002,-92896027
1465,tt0424095,1.390297,149000000,64459316,Flushed Away,Hugh Jackman|Kate Winslet|Ian McKellen|Jean Re...,David Bowers|Sam Fell,Someone's Going Down,"London high-society mouse, Roddy is flushed do...",85,Adventure|Animation|Comedy|Family,Aardman Animations|DreamWorks Animation,2006-10-22,488,6.0,2006,-84540684
637,tt0455824,1.468543,130000000,49554002,Australia,Nicole Kidman|Hugh Jackman|Essie Davis|David W...,Baz Luhrmann,Welcome to Australia!,"Set in northern Australia before World War II,...",165,Drama,Bazmark Films|Ingenious Film Partners|Twentiet...,2008-11-18,411,6.3,2008,-80445998
1873,tt0134983,0.385350,90000000,14828081,Supernova,James Spader|Angela Bassett|Robert Forster|Lou...,Walter Hill|Jack Sholder,"In the farthest reaches of space, something ha...","Set in the 22nd century, when a battered salva...",91,Science Fiction,United Artists|Metro-Goldwyn-Mayer (MGM)|Hamme...,2000-01-14,42,4.7,2000,-75171919
1401,tt0318081,0.626900,80000000,5989640,A Sound of Thunder,Heike Makatsch|Armin Rohde|David Oyelowo|Wilfr...,Peter Hyams,Some Rules Should Never Be Broken.,When a hunter sent back to the prehistoric era...,110,Thriller|Science Fiction|Adventure|Action,Epsilon Motion Pictures|Franchise Pictures|Bal...,2005-05-15,58,4.8,2005,-74010360
1719,tt0211933,1.142781,86000000,14373825,Awake,Hayden Christensen|Jessica Alba|Terrence Howar...,Joby Harold,"Every year, one in 700 people wake up during s...","While undergoing heart surgery, a man experien...",84,Thriller|Crime|Mystery,The Weinstein Company|Open City Films|GreeneSt...,2007-11-28,229,6.3,2007,-71626175

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [12]:
display(data.query('profit > 0').profit.count())
answer_ls.append(1)

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [13]:
display(
    data.query('release_year == 2008').sort_values(by='profit',
                                                   ascending=False))
answer_ls.append(4)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8432,8.1,2008,816921825
604,tt0367882,3.161670,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,2008-05-21,1537,5.6,2008,601636033
608,tt0795421,2.543535,52000000,609841637,Mamma Mia!,Meryl Streep|Pierce Brosnan|Amanda Seyfried|Co...,Phyllida Lloyd,Take a trip down the aisle you'll never forget,"Set on an idyllic Greek island, the plot serve...",108,Comedy|Romance,Universal Pictures|Internationale Filmprodukti...,2008-06-30,805,6.2,2008,557841637
607,tt0441773,3.036644,130000000,631744560,Kung Fu Panda,Jack Black|Dustin Hoffman|Angelina Jolie|Jacki...,Mark Osborne|John Stevenson,Prepare for awesomeness.,"When the Valley of Peace is threatened, lazy P...",90,Animation|Family,DreamWorks Animation,2008-06-04,1938,6.8,2008,501744560
622,tt0448157,1.800286,150000000,624029371,Hancock,Will Smith|Charlize Theron|Jason Bateman|Jae H...,Peter Berg,Bad Behavior. Bad Attitude. Real Hero.,Hancock is a down-and-out superhero who's forc...,92,Fantasy|Action,Columbia Pictures|Weed Road Pictures|Forward P...,2008-07-01,1764,6.0,2008,474029371
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,tt0811080,0.879116,120000000,93945766,Speed Racer,Emile Hirsch|Christina Ricci|Matthew Fox|Susan...,Lana Wachowski|Lilly Wachowski,Go!,Speed Racer is the tale of a young and brillia...,135,Family|Action|Science Fiction,Village Roadshow Pictures|Studio Babelsberg|An...,2008-05-09,194,5.6,2008,-26054234
706,tt0469903,0.450911,40000000,9793496,The Express,Rob Brown|Dennis Quaid|Darrin Henson|Charles S...,Gary Fleder,He changed our country... one yard at a time.,"Based on the incredible true story, The Expres...",130,Drama,Davis Entertainment|Relativity Media|IDEA Film...,2008-10-10,39,7.1,2008,-30206504
683,tt0970411,0.721663,55000000,17869048,City of Ember,Saoirse Ronan|Harry Treadaway|Mary Kay Place|B...,Gil Kenan,Escape is the only option,"For generations, the people of the City of Emb...",90,Adventure|Family|Fantasy,Playtone|Walden Media,2008-10-07,358,6.1,2008,-37130952
680,tt0462465,0.749838,50000000,7033683,Outlander,Jim Caviezel|Sophia Myles|Jack Huston|Ron Perl...,Howard McCain,It destroyed his world. He won't let it destro...,"During the reign of the Vikings, a man from an...",115,Fantasy|Action|Science Fiction,Ascendant Pictures|Rising Star|VIP Medienfonds...,2008-04-24,167,6.0,2008,-42966317
637,tt0455824,1.468543,130000000,49554002,Australia,Nicole Kidman|Hugh Jackman|Essie Davis|David W...,Baz Luhrmann,Welcome to Australia!,"Set in northern Australia before World War II,...",165,Drama,Bazmark Films|Ingenious Film Partners|Twentiet...,2008-11-18,411,6.3,2008,-80445998

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [14]:
display(
    data.query('release_year in [2012,2013,2014]').sort_values(by='profit',
                                                               ascending=True))
answer_ls.append(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
1246,tt1210819,1.214510,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,1607,6.0,2013,-165710090
1215,tt0790736,1.689869,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,2013-07-18,876,5.3,2013,-68351500
1008,tt1374992,1.690572,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,2012-09-27,695,6.1,2012,-51893525
1303,tt0884726,0.354271,70000000,18662027,Legends of Oz: Dorothy's Return,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...,Dan St. Pierre,There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,Animation|Music|Family,Prana Animation Studios|Summertime Entertainment,2013-06-13,36,6.1,2013,-51337973
1236,tt1308729,1.319947,55000000,9489829,Bullet to the Head,Sylvester Stallone|Sung Kang|Sarah Shahi|Adewa...,Walter Hill,Revenge Never Gets Old.,"After watching their respective partners die, ...",92,Action|Crime|Thriller,Dark Castle Entertainment|After Dark Films|IM ...,2013-01-31,347,5.2,2013,-45510171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1190,tt1690953,3.928789,76000000,970761885,Despicable Me 2,Steve Carell|Kristen Wiig|Benjamin Bratt|Miran...,Pierre Coffin|Chris Renaud,Back 2 Work,Gru is recruited by the Anti-Villain League to...,98,Animation|Comedy|Family,Universal Pictures|Illumination Entertainment,2013-06-25,3436,7.0,2013,894761885
975,tt1074638,5.603587,200000000,1108561013,Skyfall,Daniel Craig|Judi Dench|Javier Bardem|Ralph Fi...,Sam Mendes,Think on your sins.,When Bond's latest assignment goes gravely wro...,143,Action|Adventure|Thriller,Columbia Pictures,2012-10-25,6137,6.8,2012,908561013
1181,tt1300854,4.946136,200000000,1215439994,Iron Man 3,Robert Downey Jr.|Gwyneth Paltrow|Guy Pearce|D...,Shane Black,Unleash the power behind the armor.,When Tony Stark's world is torn apart by a for...,130,Action|Adventure|Science Fiction,Marvel Studios,2013-04-18,6882,6.9,2013,1015439994
1178,tt2294629,6.112766,150000000,1274219009,Frozen,Kristen Bell|Idina Menzel|Jonathan Groff|Josh ...,Chris Buck|Jennifer Lee,Only the act of true love will thaw a frozen h...,Young princess Anna of Arendelle dreams about ...,102,Animation|Adventure|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2013-11-27,3369,7.5,2013,1124219009
971,tt0848228,7.637767,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,2012-04-25,8903,7.3,2012,1299557910

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [15]:
df_genre = pd.DataFrame(
    data.genres.str.split('|').tolist()).stack().reset_index()
df_genre.columns = ['row_index', 'row_subindex', 'genre']
df_genre['profit_genre'] = df_genre.row_index.apply(
    lambda x: data.iloc[x]['profit'])
display(
    df_genre.pivot_table(values='profit_genre',
                         index='genre',
                         aggfunc='count',
                         margins=True).sort_values(by='profit_genre',
                                                   ascending=False).head(10))

answer_ls.append(3)

                 profit_genre
genre
All                      5112
Drama                     782
Comedy                    683
Thriller                  597
Action                    583
Adventure                 416
Crime                     315
Romance                   308
Family                    260
Science Fiction           248

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [16]:
df_genre = pd.DataFrame(
    data.genres.str.split('|').tolist()).stack().reset_index()
df_genre.columns = ['row_index', 'row_subindex', 'genre']
df_genre['profit_genre'] = df_genre.row_index.apply(
    lambda x: data.iloc[x]['profit'])
display(df_genre[df_genre.profit_genre > 0].pivot_table(
    values='profit_genre', index='genre', aggfunc='count',
    margins=True).sort_values(by='profit_genre', ascending=False).head(10))

answer_ls.append(1)

                 profit_genre
genre
All                      3962
Drama                     560
Comedy                    551
Thriller                  446
Action                    444
Adventure                 337
Romance                   242
Crime                     231
Family                    226
Science Fiction           195

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [17]:
df_director = pd.DataFrame(
    data.director.str.split('|').tolist()).stack().reset_index()
df_director.columns = ['row_index', 'row_subindex', 'director']
df_director['profit_director'] = df_director.row_index.apply(
    lambda x: data.iloc[x]['profit'])
df_director['year'] = df_director.row_index.apply(
    lambda x: data.iloc[x]['release_year'])
display(
    df_director.pivot_table(
        values='profit_director',
        index='director',
        aggfunc='count',
        margins=True).sort_values(by='profit_director',
                                  ascending=False).head(10))

answer_ls.append(3)

                   profit_director
director
All                           2054
Steven Soderbergh               13
Clint Eastwood                  12
Ridley Scott                    12
Robert Rodriguez                11
Shawn Levy                      10
Peter Farrelly                  10
Steven Spielberg                10
Tim Burton                       9
Bobby Farrelly                   9

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [18]:
df_director = pd.DataFrame(
    data.director.str.split('|').tolist()).stack().reset_index()
df_director.columns = ['row_index', 'row_subindex', 'director']
df_director['profit_director'] = df_director.row_index.apply(
    lambda x: data.iloc[x]['profit'])
df_director['year'] = df_director.row_index.apply(
    lambda x: data.iloc[x]['release_year'])
display(df_director[df_director.profit_director > 0].pivot_table(
    values='profit_director', index='director', aggfunc='count',
    margins=True).sort_values(by='profit_director', ascending=False).head(10))
answer_ls.append(4)

                   profit_director
director
All                           1613
Ridley Scott                    12
Clint Eastwood                  10
Steven Spielberg                10
Steven Soderbergh               10
Shawn Levy                       9
Tim Burton                       9
Christopher Nolan                8
Peter Jackson                    8
Peter Farrelly                   8

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [19]:
df_director = pd.DataFrame(
    data.director.str.split('|').tolist()).stack().reset_index()
df_director.columns = ['row_index', 'row_subindex', 'director']
df_director['profit_director'] = df_director.row_index.apply(
    lambda x: data.iloc[x]['profit'])
df_director['year'] = df_director.row_index.apply(
    lambda x: data.iloc[x]['release_year'])
display(
    df_director.pivot_table(
        values='profit_director',
        index='director',
        aggfunc=np.sum,
        margins=True).sort_values(by='profit_director',
                                  ascending=False).head(10))

answer_ls.append(5)

                   profit_director
director
All                   215885306303
Peter Jackson           5202593685
David Yates             3379295625
Christopher Nolan       3162548502
J.J. Abrams             2839169916
Michael Bay             2760938960
James Cameron           2548546718
Francis Lawrence        2476979588
Pierre Coffin           2452006832
Steven Spielberg        2449700791

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [20]:
df_cast = pd.DataFrame(data.cast.str.split('|').tolist()).stack().reset_index()
df_cast.columns = ['row_index', 'row_subindex', 'cast']
df_cast['profit_cast'] = df_cast.row_index.apply(
    lambda x: data.iloc[x]['profit'])
df_cast['year'] = df_cast.row_index.apply(
    lambda x: data.iloc[x]['release_year'])
display(
    df_cast.pivot_table(values='profit_cast',
                        index='cast',
                        aggfunc=np.sum,
                        margins=True).sort_values(by='profit_cast',
                                                  ascending=False).head(10))
answer_ls.append(1)

                     profit_cast
cast
All                 952412961817
Emma Watson           6666245597
Daniel Radcliffe      6514990281
Rupert Grint          6408638290
Ian McKellen          6087375777
Robert Downey Jr.     5316030161
Orlando Bloom         5148578162
Johnny Depp           4776417000
Ralph Fiennes         4739260140
Michelle Rodriguez    4608031235

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [47]:
df_cast = pd.DataFrame(data.cast.str.split('|').tolist()).stack().reset_index()
df_cast.columns = ['row_index', 'row_subindex', 'cast']
df_cast['profit_cast'] = df_cast.row_index.apply(
    lambda x: int(data.iloc[x]['profit']))
df_cast['year'] = df_cast.row_index.apply(
    lambda x: data.iloc[x]['release_year'])
pivot_cast = df_cast.pivot_table(values='profit_cast',
                                 index='cast',
                                 columns='year',
                                 aggfunc=np.sum,
                                 margins=True)
cast_2012 = pivot_cast.iloc[:, 12]
display(cast_2012.sort_values(ascending=True).head(5))
answer_ls.append(3)

cast
Kirsten Dunst    -68109207.0
Heidi Hawkins    -51893525.0
Timothy Spall    -51893525.0
James Kidnie     -51893525.0
Malin Ã…kerman   -43733509.0
Name: 2012, dtype: float64

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [22]:
df_cast = pd.DataFrame(data.cast.str.split('|').tolist()).stack().reset_index()
df_cast.columns = ['row_index', 'row_subindex', 'cast']
df_cast['budget_cast'] = df_cast.row_index.apply(
    lambda x: int(data.iloc[x]['budget']))
df_cast['year'] = df_cast.row_index.apply(
    lambda x: data.iloc[x]['release_year'])
pivot_cast = df_cast[df_cast.budget_cast > data.budget.mean()].pivot_table(
    values='budget_cast', index='cast', aggfunc='count', margins=True)
display(pivot_cast.sort_values(by='budget_cast', ascending=False))

answer_ls.append(3)

                      budget_cast
cast
All                          3360
Matt Damon                     18
Adam Sandler                   17
Angelina Jolie                 16
Samuel L. Jackson              15
...                           ...
Jennifer Hudson                 1
Jennifer Jason Leigh            1
Jennifer Saunders               1
Jennifer Tilly                  1
Josh Charles                    1

[1509 rows x 1 columns]

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [23]:
df_cast = pd.DataFrame(data.cast.str.split('|').tolist()).stack().reset_index()
df_cast.columns = ['row_index', 'row_subindex', 'cast']
df_genre = pd.DataFrame(
    data.genres.str.split('|').tolist()).stack().reset_index()
df_genre.columns = ['row_index', 'row_subindex', 'genre']
df_merged = df_cast.merge(right=df_genre[['row_index', 'genre']],
                          on='row_index',
                          how='left')
display(df_merged[df_merged.cast == 'Nicolas Cage'].genre.value_counts())

answer_ls.append(2)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
Horror              1
Romance             1
War                 1
Name: genre, dtype: int64

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [24]:
df_production_companies = pd.DataFrame(
    data.production_companies.str.split('|').tolist()).stack().reset_index()
df_production_companies.columns = [
    'row_index', 'row_subindex', 'production_companies'
]
df_production_companies[
    'budget_production_companies'] = df_production_companies.row_index.apply(
        lambda x: int(data.iloc[x]['budget']))
df_production_companies['year'] = df_production_companies.row_index.apply(
    lambda x: data.iloc[x]['release_year'])
pivot_production_companies = df_production_companies.pivot_table(
    values='budget_production_companies',
    index='production_companies',
    aggfunc='count',
    margins=True)
display(
    pivot_production_companies.sort_values(by='budget_production_companies',
                                           ascending=False).head(6))
answer_ls.append(4)

                                        budget_production_companies
production_companies
All                                                            6079
Warner Bros.                                                    181
Universal Pictures                                              173
Paramount Pictures                                              122
Columbia Pictures                                               117
Twentieth Century Fox Film Corporation                          109

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [25]:
df_production_companies = pd.DataFrame(
    data.production_companies.str.split('|').tolist()).stack().reset_index()
df_production_companies.columns = [
    'row_index', 'row_subindex', 'production_companies'
]
df_production_companies[
    'budget_production_companies'] = df_production_companies.row_index.apply(
        lambda x: int(data.iloc[x]['budget']))
df_production_companies['year'] = df_production_companies.row_index.apply(
    lambda x: data.iloc[x]['release_year'])
pivot_production_companies = df_production_companies.pivot_table(
    values='budget_production_companies',
    columns='year',
    index='production_companies',
    aggfunc='count',
    margins=True)
production_companies_2015 = pivot_production_companies.iloc[:, 15]
display(production_companies_2015.sort_values(ascending=False).head(5))

answer_ls.append(4)

production_companies
All                                       384.0
Warner Bros.                               12.0
Universal Pictures                         10.0
Twentieth Century Fox Film Corporation      8.0
Paramount Pictures                          7.0
Name: 2015, dtype: float64

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [26]:
df_production_companies = pd.DataFrame(
    data.production_companies.str.split('|').tolist()).stack().reset_index()
df_production_companies.columns = [
    'row_index', 'row_subindex', 'production_companies'
]
df_genre = pd.DataFrame(
    data.genres.str.split('|').tolist()).stack().reset_index()
df_genre.columns = ['row_index', 'row_subindex', 'genre']
df_merged = df_production_companies.merge(
    right=df_genre[['row_index', 'genre']], on='row_index', how='left')
df_merged['profit'] = df_merged.row_index.apply(
    lambda x: data.iloc[x]['profit'])
comedy_profit = df_merged[df_merged.genre == 'Comedy'].groupby(
    by='production_companies').aggregate('sum')
display(comedy_profit[['profit']].sort_values(by='profit', ascending=False))

answer_ls.append(2)

                                            profit
production_companies
Universal Pictures                      8961545581
Walt Disney Pictures                    7669710326
Twentieth Century Fox Film Corporation  5686960294
Columbia Pictures                       5646343696
DreamWorks Animation                    4789049764
...                                            ...
Bel Air Entertainment                    -51635688
Shangri-La Entertainment                 -55170786
Dark Horse Entertainment                 -68351500
Road Rebel                               -71331093
Mel's Cite du Cinema                     -92896027

[701 rows x 1 columns]

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [27]:
df_production_companies = pd.DataFrame(
    data.production_companies.str.split('|').tolist()).stack().reset_index()
df_production_companies.columns = [
    'row_index', 'row_subindex', 'production_companies'
]
df_production_companies[
    'profit_production_companies'] = df_production_companies.row_index.apply(
        lambda x: int(data.iloc[x]['profit']))
df_production_companies['year'] = df_production_companies.row_index.apply(
    lambda x: data.iloc[x]['release_year'])
pivot_production_companies = df_production_companies.pivot_table(
    values='profit_production_companies',
    columns='year',
    index='production_companies',
    aggfunc=np.sum,
    margins=True)
production_companies_2012 = pivot_production_companies.iloc[:, 12]
display(production_companies_2012.sort_values(ascending=False).head(5))

answer_ls.append(3)

production_companies
All                   4.269216e+10
Columbia Pictures     2.501407e+09
Universal Pictures    1.981012e+09
Marvel Studios        1.299558e+09
Warner Bros.          1.258020e+09
Name: 2012, dtype: float64

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [28]:
paramount_df = data[data.production_companies.str.contains(
    'Paramount Pictures')]
#display(paramount_df[paramount_df.profit == paramount_df.profit.min()])
display(paramount_df.sort_values(by='profit').head(5))
answer_ls.append(1)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
926,tt0267626,0.722330,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,146,6.0,2002,-64831034
1124,tt0300556,1.047214,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Fil...,2003-11-26,176,5.1,2003,-60519261
1723,tt0435705,1.068126,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,2007-04-24,499,5.9,2007,-51788987
1624,tt0375173,0.898601,60000000,13395939,Alfie,Jude Law|Marisa Tomei|Omar Epps|Jane Krakowski...,Charles Shyer,Meet a man who never met a woman he didn't love.,"In Manhattan, the British limousine driver Alf...",103,Comedy,Paramount Pictures|Patalex Productions,2004-10-22,140,5.4,2004,-46604061
1632,tt0315297,0.767870,50000000,25195000,Twisted,Ashley Judd|Samuel L. Jackson|Andy GarcÃ­a|Dav...,Philip Kaufman,Every murder has a mark.,Recently promoted and transferred to the homic...,97,Action|Adventure|Crime|Drama|Thriller,Paramount Pictures|Kopelson Entertainment|Harl...,2004-02-27,67,5.7,2004,-24805000

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [29]:
df_profit_year = data[['release_year',
                       'profit']].groupby(by='release_year').aggregate('sum')
display(df_profit_year.sort_values(by='profit', ascending=False))

answer_ls.append(5)

                   profit
release_year
2015          18668572378
2014          16397812953
2012          16077001687
2013          15243179791
2011          14730241341
2009          13423744372
2010          13117292530
2008          11663881990
2007          11565911801
2004           9634180720
2003           9228823312
2002           9002361487
2005           8981925558
2006           8691077320
2001           7950614865
2000           6101399805

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [30]:
df_profit_year = data[data.production_companies.str.contains('Warner')][[
    'release_year', 'profit'
]].groupby(by='release_year').aggregate('sum')
display(df_profit_year.sort_values(by='profit', ascending=False))

answer_ls.append(1)

                  profit
release_year
2014          2295464519
2007          2208217007
2008          2134595031
2010          1974712985
2011          1871393682
2003          1855493377
2009          1822454136
2013          1636453400
2004          1631933725
2005          1595278228
2001          1343545668
2012          1258020056
2002          1022709901
2015           870368348
2006           617151739
2000           452631386

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [31]:
display(data.release_date.apply(lambda x: x.month_name()).value_counts())
answer_ls.append(4)

September    227
December     191
October      186
August       161
March        156
April        149
June         147
November     146
July         142
May          140
February     135
January      110
Name: release_date, dtype: int64

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [32]:
display(
    data.release_date.apply(
        lambda x: x.month_name() in ['June', 'July', 'August']).value_counts())
answer_ls.append(2)

False    1440
True      450
Name: release_date, dtype: int64

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [33]:
df_director = pd.DataFrame(
    data.director.str.split('|').tolist()).stack().reset_index()
df_director.columns = ['row_index', 'row_subindex', 'director']
df_director['month'] = df_director.row_index.apply(
    lambda x: data.iloc[x]['release_date'].month_name())
display(
    df_director.query(
        "month in ['December','February','January']").director.value_counts())

answer_ls.append(5)

Peter Jackson         7
Steven Soderbergh     6
Clint Eastwood        6
Adam Shankman         4
Shawn Levy            4
                     ..
Sngmoo Lee            1
Dewey Nicks           1
Andy Muschietti       1
Patrick Tatopoulos    1
Michael Sucsy         1
Name: director, Length: 359, dtype: int64

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [34]:
df_month_profit = data[['release_year', 'profit']].copy()
df_month_profit['month'] = data.release_date.apply(
    lambda x: x.month_name()).copy()
pivot_month_profit = df_month_profit.pivot_table(values='profit',
                                                 columns='month',
                                                 aggfunc='sum',
                                                 index='release_year')

display(pivot_month_profit.iloc[:].idxmax(axis=1).value_counts())

answer_ls.append(2)

June        7
May         4
December    4
July        1
dtype: int64

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [35]:
df_production_companies = pd.DataFrame(
    data.production_companies.str.split('|').tolist()).stack().reset_index()
df_production_companies.columns = [
    'row_index', 'row_subindex', 'production_companies'
]
df_production_companies[
    'symbols_name_count'] = df_production_companies.row_index.apply(
        lambda x: len(data.iloc[x]['original_title']))
mean_len = df_production_companies[[
    'row_index', 'symbols_name_count'
]].groupby(by='row_index').aggregate('mean').mean()
display(mean_len)
df_production_companies = df_production_companies[[
    'production_companies', 'symbols_name_count'
]].groupby(by='production_companies').aggregate('mean')
display(df_production_companies[
    df_production_companies.symbols_name_count > float(mean_len)].sort_values(
        by='symbols_name_count', ascending=False))

answer_ls.append(5)

symbols_name_count    15.038095
dtype: float64

                           symbols_name_count
production_companies
Four By Two Productions             83.000000
Jim Henson Company, The             59.000000
Dos Corazones                       47.000000
Museum Canada Productions           46.000000
Polsky Films                        46.000000
...                                       ...
Millennium Films                    15.117647
Miramax Films                       15.102564
Village Roadshow Pictures           15.063492
Metro-Goldwyn-Mayer (MGM)           15.062500
20th Century Fox                    15.058824

[645 rows x 1 columns]

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [36]:
df_production_companies = pd.DataFrame(
    data.production_companies.str.split('|').tolist()).stack().reset_index()
df_production_companies.columns = [
    'row_index', 'row_subindex', 'production_companies'
]
df_production_companies[
    'words_name_count'] = df_production_companies.row_index.apply(
        lambda x: len(str(data.iloc[x]['original_title']).split(' ')))
mean_len = df_production_companies[[
    'row_index', 'words_name_count'
]].groupby(by='row_index').aggregate('mean').mean()
display(mean_len)
df_production_companies = df_production_companies[[
    'production_companies', 'words_name_count'
]].groupby(by='production_companies').aggregate('mean')
display(df_production_companies[
    df_production_companies.words_name_count > float(mean_len)].sort_values(
        by='words_name_count', ascending=False))

answer_ls.append(5)

words_name_count    2.718519
dtype: float64

                            words_name_count
production_companies
Four By Two Productions            12.000000
Jim Henson Company, The            10.000000
The Saul Zaentz Company             9.000000
Polsky Films                        9.000000
Dos Corazones                       9.000000
...                                      ...
Reliance BIG Entertainment          2.750000
Miramax Films                       2.743590
Lionsgate                           2.742857
Columbia Pictures                   2.735043
Warner Bros.                        2.734807

[739 rows x 1 columns]

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [37]:
df_word_count = pd.DataFrame(
    data.original_title.str.split(r'\&?\s\&?').tolist()).stack().reset_index()
df_word_count.columns = ['row_index', 'row_subindex', 'word']
display(df_word_count.word.apply(lambda x: x.lower()).nunique())

answer_ls.append(3)

2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [38]:
df_top_persent = data.sort_values(by='vote_average', ascending=False)
#display(df_top_persent)
display(data[
    data['vote_average'] > data.sort_values(by='vote_average', ascending=False)
    .quantile(0.99, numeric_only=True)['vote_average']])

answer_ls.append(1)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
9,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,3935,8.0,2015,678708609
34,tt3170832,3.557846,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,2015-10-16,1520,8.0,2015,29401758
118,tt0816692,24.949134,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,2014-11-05,6498,8.0,2014,456752480
119,tt2015381,14.311205,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,2014-07-30,5612,7.9,2014,603312399
125,tt2084970,8.110711,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,2014-11-14,3478,8.0,2014,219555708
128,tt2267998,6.438727,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,2014-10-01,3720,7.9,2014,308330363
138,tt2278388,4.930820,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2014-02-26,2802,7.9,2014,144600318
370,tt1375666,9.363643,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,2010-07-14,9767,7.9,2010,665500000
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8432,8.1,2008,816921825
873,tt0253474,2.364204,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,2002-09-24,938,7.9,2002,85072577
1082,tt0167260,7.122455,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,5636,7.9,2003,1024888979
1184,tt0993846,4.877927,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,2013-12-25,4027,7.9,2013,292000694
1192,tt2024544,3.625529,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,2013-10-18,2241,7.9,2013,167000000
1801,tt0209144,3.095625,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,2000-10-11,2144,7.9,2000,30723096

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [39]:
"""actors_together=pd.DataFrame(data.cast.str.split('|').tolist())
actors_list=[]
for i in range(len(actors_together.index)):  
    actors_list.append(list(combinations(list(actors_together.iloc[i]),2)))
"""
actors_list = Counter(
    np.sum([
        list(combinations(actors, 2)) for actors in data.cast.str.split('|')
    ])).most_common(5)

display(actors_list)

answer_ls.append(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [40]:
df_director_profit = pd.DataFrame(
    data.director.str.split('|').to_list()).stack().reset_index()
df_director_profit.columns = ['row_index', 'row_subindex', 'director']
df_director_profit['profit'] = df_director_profit.row_index.apply(
    lambda x: data.iloc[x]['profit'])
profit_counts = Counter(
    df_director_profit[df_director_profit.profit > 0].director)
counts = Counter(df_director_profit.director)
res = dict(map(lambda x: ((x), profit_counts[x] / counts[x]), counts.keys()))
display(
    list((x, res[x]) for x in [
        'Quentin Tarantino', 'Steven Soderbergh', 'Robert Rodriguez',
        'Christopher Nolan', 'Clint Eastwood'
    ]))
answer_ls.append(4)

[('Quentin Tarantino', 0.8571428571428571),
 ('Steven Soderbergh', 0.7692307692307693),
 ('Robert Rodriguez', 0.7272727272727273),
 ('Christopher Nolan', 1.0),
 ('Clint Eastwood', 0.8333333333333334)]

# Submission

In [41]:
len(answer_ls)

36

In [42]:
pd.DataFrame({
    'Id': range(1,
                len(answer_ls) + 1),
    'Answer': answer_ls
},
             columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       4
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4